{% extends "base.html.twig" %}
{% block body %}

			<div class="div_form">
				<center>
					<table class="tab_form">
						<form>
							<tr>
								<td>
									<label for"mail">E-mail</label>
									<input type="text" id="mail"> </input>
									</br> </br>

									<label>Mot de passe</label>
									<input type="password" id="pswd"> </input>
									</br> </br>
								</td>

								<td>
									<p> Pas encore de compte ? Venez nous rejoindre 
										<a href="Inscription.html"> ici </a>  
									</p>
									<input type="submit" value="Confirmer">
								</td>
							</tr>
						</form>
					</table>
				</center>
			</div> <!-- fin div_form -->
{% endblock %}