{% trans_default_domain 'FOSUserBundle' %}
{% extends "base.html.twig" %}

{% block body %}
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
    <p>Retourner à l'accueil pour partager et echanger des livres <a href="/">en cliquant ici</a></p>
{% endblock body %}
