body {
     background-image:url("Images/Background-1.png");
}

/*******************************************************************************************/
/*div*/

.conteneur {
  background-image:url("Images/Background-3.png");
  width:80%;
  height: 100%;
  position:absolute;
  margin-left: 10%;
}

#livres_ajoutes {
  margin-top: 10%;
  margin-left: 5%;
}

.div_form {
  margin-top: 5%; 
}

/*******************************************************************************************/
/*table, td, tr*/

table {
  border: 2px solid #00B050;
  background-color: white;
}

table.topnav {
  background-color: #000000;
  height: 50px;
  width: 100%;
}

#topnav {
  width: 16%;
  text-align: center;
}

.tab_livre {
  width: 920px;
}

.td_livre {
   width:25%;
}

.tab_form {
  border-radius: 10px;
}

/*******************************************************************************************/
/*textes*/

a.menu {
  color: #FFFFFF;
  font-family:"Comic Sans MS";
  font-size: 18px;
  font-weight: bold;
}

.active  {
  color: #00B050;
  font-family:"Comic Sans MS";
  font-size: 18px;
  font-weight: bold;
}

h1 {
    color: #ED7D31;
    font-family:"Comic Sans MS";
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

h2 {
  color: #000000;
  font-family:"Comic Sans MS";
  font-size: 16px;
  font-weight: bold;
}

h3 {
  color: #000000;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

h4 {
  color: #000000;
  font-family: Arial;
  font-size: 12px;
  font-weight: bold;
}

p {
  text-align: justify;
  font-family: Arial;
  font-size: 12px;
}

.resume {
  padding-right: 10px;
}

label {
  font-family: Arial;
  font-size: 12px;
}

/*******************************************************************************************/
/*images*/

.baniere {
  width: 100%;
}

.img_topnav {
  width: 20px;
  height: 20px;
}

.img_livre {
  width: 200px;
  height: 300px;
}

/*******************************************************************************************/