{% extends "base.html.twig"%}
{% block body %}
			<br/> <br/>

			<center>
				<div class="div_apropos"> 
					<table>
						<tr>
							<td>
								<p> 
									JustPassOn! est un site gratuit de partage de livres. 
									Il vous permet d&apos;emprunter et de pr&ecirc;ter vos livre pr&egrave;s de chez vous gr&acirc;ce &agrave; la g&eacute;olocalisation.
								</p>
							</td> 
						</tr>
					</table>
				</div> <!-- fin aPropos -->
			</center>

{% endblock %}