{% extends "base.html.twig" %}
{% block body %}

			<br/> <br/>

			<div classe="livres_ajoutes">
				<h2> Livres disponible </h2>

				<label for="tri"> Afficher par : </label>
				<select id="tri">
					<option>Titre</option>
					<option>Auteur</option>
					<option>Editeur</option>
					<option>Genre</option>
					<option>Date d'ajout</option>
				</select>

				<center>
					<table class="tab_livre">
						<tr>
							<td class="td_livre">
								<a href=""> <img class="img_livre" src="Images/Simpson-t1.jpg"> </a> <br/>
								 Les Simpson - Camping en d&eacute;lire <br/> MATT GROENING, Jungle
							</td>
							<td class="td_livre">
								<a href="Livre_HP1.html"> <img class="img_livre" src="Images/Harry_Potter_t1.jpg"> </a> <br/>
								Harry potter &agrave; l'&eacute;cole des sorciers <br/> J-K Rowling, Galimard
							</td>
							<td>
								<a href=""> <img class="img_livre" src="Images/Candide.jpg"> </a>  <br/>
								Candide <br/> VOLTAIRE, Livre de poche
							</td>
							<td class="td_livre">
								<a href=""> <img class="img_livre" src="Images/Tintin_Congo.jpg"> </a>  <br/>
								Tintin au Congo <br/> HERGE, Casterman
							</td>
							<td class="td_livre">
								<a href=""> <img class="img_livre" src="Images/Letranger.jpg">  </a> <br/>
								L &eacute;tranger <br/> Albert Camus, Folio
							</td>

						</tr>
					</table>
				</center>
			</div>
{% endblock %}
