

			<div class="div_livre"> 
				<center>
				<table class="tab_livre">
					<tr>
						<td>
							<center>
								<h3>{{livre.titre}}</h3>
								    {% if livre.imageLivre is not null %}
                                                                        <img class="img_livre" src="{{ asset(livre.imageLivre.getwebPath()) }}">
                                                                    {% endif %} <br/>
							</center>
						</td>
					</tr>
					<tr> 
						<td>
							<h4> R&eacute;sum&eacute; : </h4>
							<p class="resume"> 
                                                            {% if livre.resume is not null %}
                                                                {{ livre.resume}}
                                                            {% else %}
                                                                Pas de résumé
                                                            {% endif %}
                                                        </p>
						</td>
					</tr>
				</table>
                                
				</center>
			</div>
