{% extends "base.html.twig" %}
{% block body %}
			
			<br/> <br/>

			<center>
				<div class="recherche">
					<table class="form">
						<form>
							<tr> 
								<td>
									<label for="titre">Titre *</label>
									<input name='titre' id='titre'> </input>

									
									<input type="submit" id="recherche" value="Rechercher">
								</td>
							</tr>
						</form>
					</table>
				</div> <!-- fin recherche-->
			</center>

			</br> </br>

			<center>
				<div class="result">
					<table>

					</table>
				</div>
			</center>
{% endblock %}